<a href="https://colab.research.google.com/github/sruthib22/DS601_Fall21/blob/main/Individual_project/Individual_project_Part_B_Draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import plotly
print('plotly version',plotly.__version__)
import plotly.graph_objects as go
import plotly.express as px
import plotlywidget

plotly version 4.4.1

In [1]:
!pip install plotly --upgrade

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (4.4.1)
Collecting plotly
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
     |████████████████████████████████| 23.9 MB 13 kB/s
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 4.4.1
    Uninstalling plotly-4.4.1:
      Successfully uninstalled plotly-4.4.1
Successfully installed plotly-5.3.1 tenacity-8.0.1

In [13]:
df = pd.read_csv('wdi_data.csv')
df.head()

   Unnamed: 0  Year  ...         Income Group Lending Type
0           0  2018  ...  Upper middle income         IBRD
1           1  2018  ...  Lower middle income         IBRD
2           2  2017  ...  Lower middle income        Blend
3           3  2018  ...  Lower middle income        Blend
4           4  2019  ...  Lower middle income        Blend

[5 rows x 9 columns]

In [14]:
df_new= df.drop(columns=["Unnamed: 0"])
df_new.head()

   Year    value  ...         Income Group Lending Type
0  2018  1.00000  ...  Upper middle income         IBRD
1  2018  0.96964  ...  Lower middle income         IBRD
2  2017  0.83109  ...  Lower middle income        Blend
3  2018  0.80656  ...  Lower middle income        Blend
4  2019  0.81759  ...  Lower middle income        Blend

[5 rows x 8 columns]

In [15]:
df_new.tail(20)

     Year  value  ...         Income Group    Lending Type
358  2015  40.20  ...          High income  Not classified
359  2016  41.84  ...          High income  Not classified
360  2017  41.98  ...          High income  Not classified
361  2018  44.73  ...          High income  Not classified
362  2019  46.00  ...          High income  Not classified
363  2015  71.37  ...           Low income  Not classified
364  2016  71.16  ...           Low income  Not classified
365  2017  71.59  ...           Low income  Not classified
366  2018  72.14  ...           Low income  Not classified
367  2019  71.82  ...           Low income  Not classified
368  2015  58.10  ...  Lower middle income           Blend
369  2016  58.09  ...  Lower middle income           Blend
370  2017  58.12  ...  Lower middle income           Blend
371  2018  58.15  ...  Lower middle income           Blend
372  2019  58.23  ...  Lower middle income           Blend
373  2015  45.81  ...          High income  Not classified
374  2016  46.95  ...          High income  Not classified
375  2017  47.80  ...          High income  Not classified
376  2018  47.48  ...          High income  Not classified
377  2019  48.13  ...          High income  Not classified

[20 rows x 8 columns]

In [16]:
df_ind = df_new[df_new['Country Code']== 'IND']
df_ind

     Year         value  ...         Income Group Lending Type
1    2018       0.96964  ...  Lower middle income         IBRD
25   2015       9.29000  ...  Lower middle income         IBRD
26   2016       8.67000  ...  Lower middle income         IBRD
27   2017       8.13000  ...  Lower middle income         IBRD
28   2018       7.64000  ...  Lower middle income         IBRD
29   2019       7.42000  ...  Lower middle income         IBRD
85   2015  408725.00000  ...  Lower middle income         IBRD
86   2016  383982.00000  ...  Lower middle income         IBRD
87   2017  361415.00000  ...  Lower middle income         IBRD
88   2018  341012.00000  ...  Lower middle income         IBRD
89   2019  322490.00000  ...  Lower middle income         IBRD
131  2015       1.07018  ...  Lower middle income         IBRD
132  2016       1.09519  ...  Lower middle income         IBRD
133  2017       1.08402  ...  Lower middle income         IBRD
134  2019       1.02017  ...  Lower middle income         IBRD
135  2020       1.00738  ...  Lower middle income         IBRD
169  2015  442275.00000  ...  Lower middle income         IBRD
170  2016  417596.00000  ...  Lower middle income         IBRD
171  2017  395131.00000  ...  Lower middle income         IBRD
172  2018  374519.00000  ...  Lower middle income         IBRD
173  2019  356238.00000  ...  Lower middle income         IBRD
214  2015  851000.00000  ...  Lower middle income         IBRD
215  2016  801578.00000  ...  Lower middle income         IBRD
216  2017  756546.00000  ...  Lower middle income         IBRD
217  2018  715531.00000  ...  Lower middle income         IBRD
218  2019  678728.00000  ...  Lower middle income         IBRD
254  2019      58.00000  ...  Lower middle income         IBRD
255  2020      58.00000  ...  Lower middle income         IBRD
277  2019      58.00000  ...  Lower middle income         IBRD
278  2020      58.00000  ...  Lower middle income         IBRD
309  2015       1.00000  ...  Lower middle income         IBRD
310  2016       1.00000  ...  Lower middle income         IBRD
311  2017       1.00000  ...  Lower middle income         IBRD
312  2018       1.00000  ...  Lower middle income         IBRD
313  2019       1.00000  ...  Lower middle income         IBRD
314  2020       1.00000  ...  Lower middle income         IBRD
353  2015      36.46000  ...  Lower middle income         IBRD
354  2016      35.42000  ...  Lower middle income         IBRD
355  2017      34.45000  ...  Lower middle income         IBRD
356  2018      33.48000  ...  Lower middle income         IBRD
357  2019      32.76000  ...  Lower middle income         IBRD

[41 rows x 8 columns]

In [17]:
df_ind_infant = df_ind.query("indicator in(['SH.DTH.IMRT.MA','SH.DTH.IMRT.MA','SH.DTH.IMRT'])")
df_ind_infant

     Year     value  ...         Income Group Lending Type
169  2015  442275.0  ...  Lower middle income         IBRD
170  2016  417596.0  ...  Lower middle income         IBRD
171  2017  395131.0  ...  Lower middle income         IBRD
172  2018  374519.0  ...  Lower middle income         IBRD
173  2019  356238.0  ...  Lower middle income         IBRD
214  2015  851000.0  ...  Lower middle income         IBRD
215  2016  801578.0  ...  Lower middle income         IBRD
216  2017  756546.0  ...  Lower middle income         IBRD
217  2018  715531.0  ...  Lower middle income         IBRD
218  2019  678728.0  ...  Lower middle income         IBRD

[10 rows x 8 columns]

In [18]:
df_pivot = df_ind_infant.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'], columns ='indicator', values ='value').reset_index()
df_pivot

indicator  Year Country Code  ... SH.DTH.IMRT SH.DTH.IMRT.MA
0          2015          IND  ...    851000.0       442275.0
1          2016          IND  ...    801578.0       417596.0
2          2017          IND  ...    756546.0       395131.0
3          2018          IND  ...    715531.0       374519.0
4          2019          IND  ...    678728.0       356238.0

[5 rows x 8 columns]

In [19]:
fig = px.bar(
    df_pivot.dropna(),
    x = "Year",
    y = "SH.DTH.IMRT.MA",
    title = "Infant deaths",
    labels = {"SH.DTH.IMRT.MA":"infant male deaths ","SH.DTH.IMRT":"total child deaths"},
    color = "Region",
    hover_name = "Country Name",
    text = "Country Name",
    #size = "SP.POP.TOTL"
)

#fig.update_traces(textposition = "top center")

fig.show()

In [21]:
df_us = df_new[df_new['Country Code']== 'USA']
df_us

     Year         value  ... Income Group    Lending Type
45   2015     44.950000  ...  High income  Not classified
46   2016     45.790000  ...  High income  Not classified
47   2017     47.080000  ...  High income  Not classified
48   2018     47.420000  ...  High income  Not classified
49   2019     47.920000  ...  High income  Not classified
61   2015     98.773880  ...  High income  Not classified
62   2016     98.877113  ...  High income  Not classified
63   2018     99.031532  ...  High income  Not classified
64   2020     99.055779  ...  High income  Not classified
105  2015  10105.000000  ...  High income  Not classified
106  2016   9979.000000  ...  High income  Not classified
107  2017   9884.000000  ...  High income  Not classified
108  2018   9787.000000  ...  High income  Not classified
109  2019   9678.000000  ...  High income  Not classified
144  2015      1.005080  ...  High income  Not classified
145  2016      0.996260  ...  High income  Not classified
146  2017      0.993630  ...  High income  Not classified
147  2018      0.994700  ...  High income  Not classified
148  2019      0.994910  ...  High income  Not classified
189  2015  12620.000000  ...  High income  Not classified
190  2016  12465.000000  ...  High income  Not classified
191  2017  12350.000000  ...  High income  Not classified
192  2018  12236.000000  ...  High income  Not classified
193  2019  12101.000000  ...  High income  Not classified
234  2015  22725.000000  ...  High income  Not classified
235  2016  22444.000000  ...  High income  Not classified
236  2017  22234.000000  ...  High income  Not classified
237  2018  22023.000000  ...  High income  Not classified
238  2019  21779.000000  ...  High income  Not classified
241  2015      9.750000  ...  High income  Not classified
242  2016      9.791670  ...  High income  Not classified
243  2017      9.875000  ...  High income  Not classified
244  2018      9.541670  ...  High income  Not classified
245  2019      9.666670  ...  High income  Not classified
260  2019     66.500000  ...  High income  Not classified
261  2020     66.000000  ...  High income  Not classified
264  2015     15.875000  ...  High income  Not classified
265  2016     15.916670  ...  High income  Not classified
266  2017     15.416670  ...  High income  Not classified
267  2018     15.375000  ...  High income  Not classified
268  2019     15.333330  ...  High income  Not classified
283  2019     66.500000  ...  High income  Not classified
284  2020     66.000000  ...  High income  Not classified
327  2015      1.000000  ...  High income  Not classified
328  2016      1.000000  ...  High income  Not classified
329  2017      1.000000  ...  High income  Not classified
330  2018      1.000000  ...  High income  Not classified
331  2019      1.000000  ...  High income  Not classified
332  2020      1.000000  ...  High income  Not classified
373  2015     45.810000  ...  High income  Not classified
374  2016     46.950000  ...  High income  Not classified
375  2017     47.800000  ...  High income  Not classified
376  2018     47.480000  ...  High income  Not classified
377  2019     48.130000  ...  High income  Not classified

[54 rows x 8 columns]

In [23]:
df_us_edu = df_us.query("indicator in(['SE.PRM.CUAT.ZS'])")
df_us_edu

    Year      value       indicator  ...         Region Income Group    Lending Type
61  2015  98.773880  SE.PRM.CUAT.ZS  ...  North America  High income  Not classified
62  2016  98.877113  SE.PRM.CUAT.ZS  ...  North America  High income  Not classified
63  2018  99.031532  SE.PRM.CUAT.ZS  ...  North America  High income  Not classified
64  2020  99.055779  SE.PRM.CUAT.ZS  ...  North America  High income  Not classified

[4 rows x 8 columns]

In [24]:
df_pivot = df_us_edu.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'], columns ='indicator', values ='value').reset_index()
df_pivot

indicator  Year Country Code  ...    Lending Type SE.PRM.CUAT.ZS
0          2015          USA  ...  Not classified      98.773880
1          2016          USA  ...  Not classified      98.877113
2          2018          USA  ...  Not classified      99.031532
3          2020          USA  ...  Not classified      99.055779

[4 rows x 7 columns]

In [33]:
fig = px.line(
    df_pivot.dropna(),
    x = "Year",
    y = "SE.PRM.CUAT.ZS",
    title = "Infant deaths",
    labels = {"SH.DTH.IMRT.MA":"infant male deaths","SE.PRM.CUAT.ZS":"educational attainment"},
    color = "Region",
    hover_name = "Country Name",
    text = "Country Name",
    #size = "SP.POP.TOTL"
)

fig.update_traces(textposition = "top center")

fig.show()

In [34]:
df_ind_school = df_ind.query("indicator in(['SE.ENR.PRSC.FM.ZS'])")
df_ind_school

     Year    value  ...         Income Group Lending Type
131  2015  1.07018  ...  Lower middle income         IBRD
132  2016  1.09519  ...  Lower middle income         IBRD
133  2017  1.08402  ...  Lower middle income         IBRD
134  2019  1.02017  ...  Lower middle income         IBRD
135  2020  1.00738  ...  Lower middle income         IBRD

[5 rows x 8 columns]

In [35]:
df_pivot_ind = df_ind_school.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'], columns ='indicator', values ='value').reset_index()
df_pivot_ind

indicator  Year Country Code  ... Lending Type SE.ENR.PRSC.FM.ZS
0          2015          IND  ...         IBRD           1.07018
1          2016          IND  ...         IBRD           1.09519
2          2017          IND  ...         IBRD           1.08402
3          2019          IND  ...         IBRD           1.02017
4          2020          IND  ...         IBRD           1.00738

[5 rows x 7 columns]

In [38]:
fig = px.line(
    df_pivot_ind.dropna(),
    x = "Year",
    y = "SE.ENR.PRSC.FM.ZS",
    title = "school enrollment",
    labels = {"SH.DTH.IMRT.MA":"infant male deaths","SE.PRM.CUAT.ZS":"educational attainment"},
    color = "Region",
    hover_name = "Country Name",
    text = "Country Name",
    #size = "SP.POP.TOTL"
)

fig.update_traces(textposition = "top center")

fig.show()

In [39]:
df_ind_school = df_ind.query("indicator in(['SG.BUS.REGT.EQ'])")
df_ind_school

     Year  value       indicator  ...      Region         Income Group Lending Type
309  2015    1.0  SG.BUS.REGT.EQ  ...  South Asia  Lower middle income         IBRD
310  2016    1.0  SG.BUS.REGT.EQ  ...  South Asia  Lower middle income         IBRD
311  2017    1.0  SG.BUS.REGT.EQ  ...  South Asia  Lower middle income         IBRD
312  2018    1.0  SG.BUS.REGT.EQ  ...  South Asia  Lower middle income         IBRD
313  2019    1.0  SG.BUS.REGT.EQ  ...  South Asia  Lower middle income         IBRD
314  2020    1.0  SG.BUS.REGT.EQ  ...  South Asia  Lower middle income         IBRD

[6 rows x 8 columns]